<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Include the Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-white text-xl font-bold">Event - name</div>
            <div class="flex space-x-4">
                <a href="/home" class="text-white">Home</a>
                <a href="/cryptic" class="text-white">Cryptic</a>
                <a href="/team" class="text-white">My Team</a>
                <a href="/logout" class="text-white">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container mx-auto mt-4">
        Welcome <%= username %> of <%= teamName %>
    </div>
</body>

</html>
